*.onnx filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
cuda_models/nugraph2/1/test-ng2.ckpt filter=lfs diff=lfs merge=lfs -text
cuda_models/dnnroi-icarus-plane0/1/model.onnx filter=lfs diff=lfs merge=lfs -text
cuda_models/dnnroi-icarus-plane1/1/model.onnx filter=lfs diff=lfs merge=lfs -text
